<div class="container">
  <!--filter pipe-->
  <div>
    <input type="text" placeholder="Search by gender" class="w-50 p-2 m-4" [(ngModel)]="filterText"/>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Course</th>
        <th scope="col">Marks</th>
        <th scope="col">Percentage</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let std of students?.students | filterStudent: filterText ">
        <th scope="row">{{std.name}}</th>
        <td>{{std.course}}</td>
        <td>{{std.marks}}</td>
        <td>{{std.marks / totalMarks | percentage : 2}}</td>
        <td>{{std.gender | uppercase}}</td>
      </tr>
    </tbody>
  </table>
</div>